<table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees; let i = index; trackBy: trackById">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.position }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.email }}</td>
        <td>
          <fa-icon [icon]="faEye" class="text-primary me-2" style="cursor:pointer;" (click)="editEvent.emit(i)"></fa-icon>
          <fa-icon [icon]="faTrash" class="text-danger" style="cursor:pointer;" (click)="deleteEvent.emit(i)"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
  